<!DOCTYPE HTML>
<!--
	Theme: PrologueByRehbuck
-->
<html>
<head>
	<title>{{ .Title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/rehbuck.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
</head>
<body>
	<!-- Header -->
	<div id="header">
		<div class="top">
			<!-- Logo -->
			<div id="logo">
				<span class="image avatar48"><img src="img/avatar.jpg" alt="" /></span>
				<h1 id="title">{{ .Site.Params.name }}</h1>
				<p>{{ .Site.Params.description }}</p>
			</div>
			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="/" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Texte mit Stil</span></a></li>
					<li><a href="/korrektorat" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Korrektorat</span></a></li>
					<li><a href="/lektorat" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">Lektorat</span></a></li>
					<li><a href="/profil" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Profil</span></a></li>
					<li><a href="/kontakt" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Kontakt</span></a></li>
					<li>&nbsp;</li>
					<li><a href="/blog" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Blog</span></a></li>
				</ul>
			</nav>
		</div>

		<div class="bottom">
			<!-- Social Icons -->
			<ul class="icons">
			      {{ range .Site.Params.social }}
			      <li><a href="{{ .link }}" class="icon fa-{{ .icon }}"><span class="label">{{ .medium }}</span></a></li>
			      {{ end }}
			</ul>
		</div>
	</div>

	<!-- Main -->
	<div id="main">
		<!-- Intro Header -->
		<section class="one dark cover">
			<div class="container">
				<header>
					<h2 class="title">{{.Title}}</h2>
					<h3 class="motto">{{.Params.motto}}</h3>
					<p class="subheader">{{.Params.subheader}}</p>
				</header>
			</div>
		</section>

		<!-- Intro Content -->
		<section class="">
			<div class="container content">
				{{.Content}}
			</div>
		</section>
	</div>

	<!-- Footer -->
	<div id="footer">
		<!-- Copyright -->
		<ul class="copyright">
			<li>&copy; {{ .Site.Params.copyright }}</li>
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			<li>Powered by <a href="https://gohugo.io/">Hugo</a></li>
		</ul>
	</div>

	<!-- Scripts -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.scrolly.min.js"></script>
	<script src="/js/jquery.scrollzer.min.js"></script>
	<script src="/js/skel.min.js"></script>
	<script src="/js/util.js"></script>
	<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
	<script src="/js/main.js"></script>
</body>
</html>
